<header class="bar-title">
    <a class="cancel button-prev">Back</a>	
    <h1 class="title">About</h1>
</header>
<div class="docs-inner-wrapper">    	
	<article class="component-mobile">
		<h3 class="component-title">Simple Backbone Wedding Checklist!</h3>
		<p class="component-description">Recently, I find out <a href="http://maker.github.com/ratchet/">Ratchet</a>, the prototye iPhone apps with simple HTML, CSS and JS components</p>		
		<p class="component-description">I really love the simple, so I try create a simple demo like iPhone App with Backbone.js and Ratchet.css</p>	
		<p class="component-description">The Backbone.js side is similar to common Backbone Todo Example, except the modal Add, Edit View</p>	
		<p class="component-description">By using two of Backbone.js and Ratchet.css, I think iPhone App UI is built so fast</p>	
		<p class="component-description">In this demo, I use only Ratchet.css and I also borrow their page's style and their iPhone :)</p>	
		<p class="component-description">The source code is available in <a href="https://github.com/phungnc/backboneratchetdemo/">this repository </a> on GitHub</p>	
	</article>
</div>